/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.lo
*.slo

*.out
*.exe
*.dll
*.so
*.dylib

*.tmp
*.log
*.swp
*.swo
*~

.vscode/
*.code-workspace

*.bak

*.dSYM/
*.core

/data/*.csv
venv
